*{
    box-sizing: border-box;
}

.heading{
    color: rgb(76, 11, 11);
    font-size: 70px;
    text-align: center;
}

img{
    height: 500px;
    width: 50%;
    margin: 10px;
    border-radius: 50%;
    border: solid #000 2px;
}

h4{
    font-size: 50px;
    font-style: italic;
}

li{
    font-size: 20px;
}