*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: solid 2px #000;
}

.container{
    margin: 10px;
}

#header{
    font-size: 10vh;
    font-family: cursive;
    color: rgb(179, 102, 19);
}

#sub-header{
    padding-top: 10px;
    margin-left: 15px;
    font-style: italic;
    color: rgb(66, 40, 40);
}

#menu-bar{
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

#menu-bar li{
    padding: 30px;
    font-size: 25px;
}

#menu-bar li a{
    text-decoration: none;
    color: #000;
}

#menu-bar li a:hover{
    color: rgb(190, 15, 15);
}

.holder{
    padding: 20px 0 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.holder img{
    height: 200px;
    border-radius: 30px;
    border: #000 solid 1px;
}

.caption{
    padding: 0 0 20px 20px ;
    text-decoration: none;
    overflow: hidden;
}

.holder a .caption{
    text-decoration: none;
}

.holder a:link{
    text-decoration: none;
    color: #000;
}

.holdera:visited{
    color: rgb(176, 131, 218);
    text-decoration: none;
}

.holder a:hover{
    color: #9f802b;
    text-decoration: none;
}
