body{
    padding: 0;
    margin: 0;   
}

.container{
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(120deg, rgb(250, 250, 138),rgb(218, 81, 46)); 
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1a1a;
    font-size: 80px;
}

#menu-bar{
    display: block;
    border-radius: 30px;
    background-color: #000;
    margin: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

li{
    padding: 15px;
    margin: 0px;
    font-size: 30px;
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 66px 0 0 ;
    margin: 0;
    align-content: space-between;
    text-decoration: none;
  }

li a:hover{
    color: rgb(202, 134, 32);
}

#search-bar{
    background-color: #ffffff5f;
    border: none;
    width: 40%;
    margin: 40px;
    padding: 20px;
    text-align: start;
    font-size: 25px;
}

h2{
    text-align:start;
    font-size: 30px;
    color: #3c0606;
    margin: 10px;
    padding: 10px;
    margin-left: 40px;
}

img{
    border-radius: 30%;
    padding: 50px;
    width: 400px;
    align-content: space-evenly;
    display: inline;
}

.indian:hover{
    box-shadow: #000 2px;
}